@import "settings";
@import "foundation";

.featuredBreeders{
    background-color: $primary-lightest-color;
    h2 {
        font-family:'Raleway',sans-serif;
        font-weight: 500;
        text-align: center;
    }
    h3{
        font-family:'Raleway',sans-serif;
        text-align: center;
        color: $body-font-color;
    }
    h4{
        text-align: center;
    }
    ul {
        margin-bottom: 0;
    }
}

footer{
    background-color: $primary-color;
    padding-bottom: .5rem;
    padding-top: .5rem;
    p {
        color: $primary-lightest-color;
        padding: 0;  
        margin: 0;
        font-size: 0.8125rem;
    }
    a {
        color: $primary-lightest-color;
        font-size: 0.8125rem;
    }
    a:hover{
        color: $primary-medium-color;
    }
    ul.inline-list {
        margin: 0;
    }
}
table{
    margin: 0;
    width: 100%;
    border-spacing: 0px;
}
#app {
    min-height: 85vh;
    margin-bottom: 1rem;
    
}
select{
    background-color: $primary-lightest-color;
    border-color: $primary-light-color;
    color: $body-font-color;
}

input {
    font-weight: 300;
}
h1, h2, label{
    text-align: center;
}

#searchButton{
    display: block;
    width: 200px;
    margin: auto;
}

label {
    font-weight: bold;
    color: $body-font-color;
}

#prev, #next, #search, #submitReview, #addReview, #submitDogInfo{
    display: block;
    margin: auto;
    width: 200px;
}




#resultNumber{
    min-width: 65px;
}
#captchaSecondRow{
    display: none;
}
.count{
    text-align: center;
}

.row {
    max-width: none;
}

legend{
    text-align: center;
}

#breederName{
    font-size: 25px;
    margin-bottom: -10px;
    font-weight: normal;
}
.astric{
    color: red;
}
#month{
    width: 125px;
    display: inline-block;
}
#year{
    width: 70px;
    display: inline-block;
    margin: 0 1%;
}

#day {
    width: 50px;
    display: inline-block;
    margin: 0 1%;
}

.bday{
    padding-left: 2px;
    padding-right: 1px;
}

#dogInfo{
    width: 90%;
    margin: auto;
}

.required{
    display: none;
    color: red;
}

#zeroRating{
    display: none;
}

#reviewTable{
    width: 600px;
}

.ratingHeader{
    width: 100px;
}

.dateHeader{
    width: 110px;
    padding-right: 0px;
    text-align: right;
}

.sortImg{
    max-width: 20px;
    margin-left: 10px;
}
.centerHead{
    text-align: center;
}

#captcha, #secondCaptcha{
    margin: auto;
    width: 25%;
}

#invalidCaptcha{
    display: none;
    color: red;
    font-size: 0.875rem;
    font-weight: bold;
    margin: 0;
    text-align: center;
}
.birthdayDiv{
    margin-left: 20px;
}

.file-upload {
  position: relative;
  overflow: hidden;
  margin: 0 10px 0 0;
}

.file-upload input.file-input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0); }

input.file-input{
    height: 100%;
}

.fileName{
    display: inline-block;
    font-size: 16px;
}

#fileUploadDiv{
    display: inline-block;
    margin: 0 2%;
    padding: 0;
}

.homeHeader{
    h1 {
        color: $header-font-color;
        font-size: 66px;
        padding-top: 100px;
    }
    // p {
    //     color: rgba(0, 0, 0, .7);
    //     text-align: center;
    // }
}

#backgroundMainHeader{
    // background-image: url("http://placekitten.com/1200/482");
    // background-image: url("https://pixabay.com/get/cf2e7a1de5acd266aea4/1445618779/dog-164090_1280.jpg?direct");
    background-image: url("../images/animal-239867_1280.jpg");
    // background-image: url("../images/puppies_gradient.gif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    // padding-bottom: 100px;
    padding-top: 50px;
   @media only screen and (min-width: 64.0625em) {
        min-height: 425px;
    }
}
// buildingblocks - nav barr
.has-form {
  position: absolute;
  top: 0;
  left: 3rem; // adjust distance from left here
  min-width: 25rem; // adjust width here
  
  @media only screen and (max-width: 40em) {
    min-width: 10rem;
    top: 0.5rem;
    
    .button {
      height: 1.85rem;
    }
  }
}


.black-box{
    background-color: rgba(0,0,0,.4);
    padding: 35px;
    color: #fff;
    h2 {
        font-family:'Raleway',sans-serif;
        text-align: left;
        font-weight: 500;
        color: #fff;
    }
    p {
        // color: rgba(0, 0, 0, .8);
        font-family:'Raleway', sans-serif;
        font-weight: 400; 
    }
    
}

.searchLayout {
    h2 {
        padding: 20px 0 10px 0;
        font-family:'Raleway',sans-serif;
        font-weight: 500;
    }
    label {
        font-size: 1rem;
    }
    select {
       font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
       font-style: normal;
       color: rgba(0,0,0,0.75);
    }
    input {
        font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
       font-style: normal;
       color: rgba(0,0,0,0.75);
    }
}


.resultsPage{
    border-bottom: none;
    h2 {
        font-family:'Raleway',sans-serif;
        font-weight: 500;
        font-size: 40px;
        color: $header-font-color;
        padding-top: 1rem;
    }
    .resultHeader{
        background-color: $primary-medium-color;
    }
    th a{
        color: $body-font-color;
    }
    td a {
        color: $primary-dark-color;
        text-decoration: underline;
    }
    .resultSide {
        margin: 0;
    }
    #search{
        // background-color: $secondary-fallbak-light-color;
        // border-style: solid;
        // border-width: thin;
        
    }
    #search:hover{
        // background-color: $secondary-color;
        // border-color: $secondary-color;
    }
    #province{
        margin-left: -10px;
    }
}



// .resultHeader{
//     background-color: dimgrey;
// }




// .resultTable td, .resultTable th {
//     font-size: 13px;
// }

.breaderSection{
    margin: 0 0.9375rem;
    
    @media only screen and (min-width: 64.0625em) {
        .large-4 {
            width: 30.5%;
        }
    }
    @media only screen and (min-width: 64.0625em) {
        .large-8 {
            width: 65%;
            margin-right: 0.9375rem;
        }
    }

}

.button.expand{
    width: auto;
}



#secondCaptchaRow {
    display: none;
}

.breederPage{
    .breederHeader {
        font-family:'Raleway',sans-serif;
        text-align: center;
    }
    h2 {
        font-size: 36px;
        font-weight: 500; 
        margin-bottom: 2px;
    }
    h5{
        margin: 0;
    }
    h4 {
        margin: 0;
        padding: 0;
        font-size: 20px;
        color: $body-font-color;
        // text-align: center;
    }
    .avgRatingHeader{
        color: $header-font-color;
    }
    #areYou{
        float: right;
        padding-top: 10px;
        color: $secondary-fallbak-lightest-color;    
    }
    .litterTable{
        margin-top: 2rem;
        margin-bottom: 1rem;
        a {
            font-family:'Raleway',sans-serif;
            text-align: center;
        }
    }
    .reviews{
        margin-top: 1rem;
        .th {
            img{
                width: 100px;
                height: 100px;
                object-fit: cover;
            }
            
        }
        #rankingTd{
            vertical-align: top;
        }
    }
    
}

.reviewForm{
    textarea{
        color: rgba(0,0,0,0.75);
    }
    
}
#myModal {
    h2 {
    font-family:'Raleway',sans-serif;
    // color: #333333;
    font-weight: 500;
    }
    h3 {
      color: $body-font-color;
       text-align: center;
       font-size: 20px;
    }
    .loaderRow{
        min-height: 40px;
    }
}

.loader{
    display: none;
    width: 40px;
    display: block;
    margin: auto;
}


.clearing-thumbs li{
    padding-bottom: 0;
    padding-top: 5px;
}

// #addReview{
//     display: inline-block;
//     float: right;
//     width: 200px;
// }

// #avgRatingHeader{
//     position: relative;
//     right: -100px;
// }
// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";
