@import "settings";
@import "foundation";



table{
    margin: 0;
    width: 100%;
    // border-right: none;
    // border-left: none;
    border-spacing: 0px;
}
.resultTable{
    padding: 0;
}

.resultHeader{
    background-color: dimgrey;
}

.resultHeader a{
    color: white;
}
.resultSide {
   margin: 0;
}

.evenTable {
    background-color: #f2f2f2;
}

h1, h2, label{
    text-align: center;
}

#searchButton{
    display: block;
    width: 200px;
    margin: auto;
}

label{
    font-weight: bold;
}

h3{
    font-size: 16px;
    text-align: center;
}

#prev, #next, #search, #submitReview, #addReview, #submitDogInfo{
    display: block;
    margin: auto;
    width: 200px;
}

#search{
    background-color: Gainsboro;
    color: #222222;
    border-style: solid;
    border-width: thin;
    border-color: #222222;
}


#resultNumber{
    min-width: 65px;
}
#captchaSecondRow{
    display: none;
}
.count{
    text-align: center;
}

.row {
    max-width: none;
}

legend{
    text-align: center;
}

#breederName{
    font-size: 25px;
    margin-bottom: -10px;
    font-weight: normal;
}
.astric{
    color: red;
}
#month{
    width: 125px;
    display: inline-block;
}
#year{
    width: 70px;
    display: inline-block;
    margin: 0 1%;
}

#day {
    width: 50px;
    display: inline-block;
    margin: 0 1%;
}

.bday{
    padding-left: 2px;
    padding-right: 1px;
}

#dogInfo{
    width: 90%;
    margin: auto;
}

.required{
    display: none;
    color: red;
}

#zeroRating{
    display: none;
}

#reviewTable{
    width: 600px;
}

.ratingHeader{
    width: 100px;
}

.dateHeader{
    width: 110px;
    padding-right: 0px;
    text-align: right;
}

.sortImg{
    max-width: 20px;
    margin-left: 10px;
}
.centerHead{
    text-align: center;
}

#captcha, #secondCaptcha{
    margin: auto;
    width: 25%;
}

#invalidCaptcha{
    display: none;
    color: red;
    font-size: 0.875rem;
    font-weight: bold;
    margin: 0;
}
.birthdayDiv{
    margin-left: 20px;
}

.file-upload {
  position: relative;
  overflow: hidden;
  margin: 0 10px 0 0;
}

.file-upload input.file-input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0); }

input.file-input{
    height: 100%;
}

.fileName{
    display: inline-block;
    font-size: 16px;
}

#fileUploadDiv{
    display: inline-block;
    margin: 0 2%;
    padding: 0;
}


#backgroundMainHeader{
    // background-image: url("http://placekitten.com/1200/482");
    // background-image: url("https://pixabay.com/get/cf2e7a1de5acd266aea4/1445618779/dog-164090_1280.jpg?direct");
    background-image: url("../images/animal-239867_1280.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 100px;
    padding-top: 20px;
}
// buildingblocks - nav barr
.has-form {
  position: absolute;
  top: 0;
  left: 3rem; // adjust distance from left here
  min-width: 25rem; // adjust width here
  
  @media only screen and (max-width: 40em) {
    min-width: 10rem;
    top: 0.5rem;
    
    .button {
      height: 1.85rem;
    }
  }
}

// about box 
.about-box{
    color: #fff;
    
}
.about-box h2{
    color: #fff;
    font-family:'Raleway',sans-serif;
    // font-size: 18px;
    font-weight: 500;
}
.black-box{
    background-color: rgba(0,0,0,0.55);
    padding: 35px;
    // font-weight: 900;
    
    
    
}.black-box p{
    font-family:'Raleway', sans-serif;
    font-weight: 400;
    // text-align: center;
    
}

.searchLayout h2 {
    padding: 20px 0 10px 0;
    font-family:'Raleway',sans-serif;
    font-weight: 500;
    color: #333333;
}

.searchLayout label {
    font-size: 1rem;
}

.searchResultsPage{
    margin-bottom: -20px;
    border-bottom: none;
}
.breaderSection{
    margin: 0 0.9375rem;
    
    @media only screen and (min-width: 64.0625em) {
        .large-4 {
            width: 30.5%;
        }
    }
    @media only screen and (min-width: 64.0625em) {
        .large-8 {
            width: 65%;
            margin-right: 0.9375rem;
        }
    }

}

button.expand, .button.expand{
    width: auto;
}

.resultsPage h2 {
    font-family:'Raleway',sans-serif;
    font-weight: 500;
    color: #333333;
    font-size: 46px;
}

.resultTable td, .resultTable th {
    font-size: 13px;
}

#secondCaptchaRow {
    display: none;
}
.breederHeader h2{
    font-size: 36px;
    font-weight: 500; 
    margin-bottom: 2px;
}

.breederHeader h5{
    margin: 0;
}
.breederHeader {
   font-family:'Raleway',sans-serif;
    color: #333333;
    text-align: center;
}

.breederHeader h4{
    margin: 0;
    padding: 0;
    font-size: 20px;
}

#myModal h2, {
    font-family:'Raleway',sans-serif;
    color: #333333;
    font-weight: 500;
}

#myModal h3{
   color: #333333; 
}

#areYou{
    float: right;
    padding-top: 10px;
}
.clearing-thumbs li{
    padding-bottom: 0;
    padding-top: 5px;
}

// #addReview{
//     display: inline-block;
//     float: right;
//     width: 200px;
// }

// #avgRatingHeader{
//     position: relative;
//     right: -100px;
// }
// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";
