<section id="backgroundMainHeader">
  <div class="row">
      <div class="large-6 columns about-box">
          <div class="black-box">
              <h2>Welcome to Rate My Dog Breeder</h2>
              <p>Where people can leave and search reviews of all CKC Registered Dog Breeders</p>
              <a href="#" class="secondary tiny button">Learn More →</a>
          </div>
      </div>
  </div>
</section>

<div id="appSearch"></div>


<div class="row">
        <div class="large-4 columns">
          <h3>Featured Breeder #1</h3>
            <img src="http://placekitten.com/500/501">
            <h4>Breeder Name</h4>
            <ul>
                <li>Address</li>
                <li>Breeder Of: </li>
            </ul>
            <p>A bio About the breeder <br> Fusce ullamcorper mauris in eros dignissim molestie posuere felis blandit. Aliquam erat volutpat. Mauris ultricies posuere vehicula. Sed sit amet posuere erat. Quisque in ipsum non augue euismod dapibus non et eros.</p>
            <hr>
        </div>
        
        <div class="large-4 columns">
          <h3>Featured Breeder #2</h3>
            <img src="http://placekitten.com/501/501">
            <h4>Breeder Name</h4>
            <ul>
                <li>Address</li>
                <li>Breeder Of: </li>
            </ul>
            <p>A bio About the breeder <br> Fusce ullamcorper mauris in eros dignissim molestie posuere felis blandit. Aliquam erat volutpat. Mauris ultricies posuere vehicula. Sed sit amet posuere erat. Quisque in ipsum non augue euismod dapibus non et eros.</p>
            <hr>
        </div>
        
        <div class="large-4 columns">
          <h3>Featured Breeder #3</h3>
            <img src="http://placekitten.com/500/502">
            <h4>Breeder Name</h4>
            <ul>
                <li>Address</li>
                <li>Breeder Of: </li>
            </ul>
            <p>A bio About the breeder <br> Fusce ullamcorper mauris in eros dignissim molestie posuere felis blandit. Aliquam erat volutpat. Mauris ultricies posuere vehicula. Sed sit amet posuere erat. Quisque in ipsum non augue euismod dapibus non et eros.</p>
            <hr>
        </div>
      
        </div>

            <div class="row">
                <div class="large-6 columns">
                    <div class="panel">
                        <h5>Are You A CKC Registered Breeder?</h5>
                        <p>Make an account and add some extra information to your profile</p>
                        <a href="#" class="small button">Make an Account</a>
                    </div>
                </div>

                <div class="large-6 columns">
                    <div class="panel">
                        <h5>Choosing a breeder</h5>
                        <p>follow some links to get some information about choosing a breeder</p>
                        <a href="#" class="small button">Link</a>
                    </div>
                </div>
            </div>
        </div>

    </div>