<section id="backgroundMainHeader">
  <div class="row">
      <div class="large-5 columns homeHeader">
          <div class="black-box">
              <h2>Rate My Dog Breeder</h2>
              <p>Where people can leave and search reviews of all CKC Registered Dog Breeders</p>
              <a href="#" class="secondary tiny button">Learn More →</a>
          </div>
      </div>
  </div>
  
</section>

<div id="appSearch"></div>

<div id="featuredBreeder"></div>

<!--<div class="row">-->
<!--    <div class="large-6 columns">-->
<!--        <div class="panel">-->
<!--            <h5>Are You A CKC Registered Breeder?</h5>-->
<!--            <p>Make an account and add some extra information to your profile</p>-->
<!--            <a href="#" class="small button">Make an Account</a>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="large-6 columns">-->
<!--        <div class="panel">-->
<!--            <h5>Choosing a breeder</h5>-->
<!--            <p>follow some links to get some information about choosing a breeder</p>-->
<!--            <a href="#" class="small button">link</a>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->