<h2>Your Review For: <span id="breederName"><%=review.breeder.get('name') %></span></h2>
<div class="row">
    <div class="large-2 large-offset-9 columns end">
        <h5>*required field</h5>
    </div>
</div>
    <form id="reviewForm">
      <div class="row">
        <div class="large-12 columns">
            <br>
            
            <label id="ratingLabel">*Your Rating <span id="ratingSelect" class="required">is a manditory field</span>:  &nbsp;
                <input type="radio" name="rating" value="0" id="zeroRating">
                <input type="radio" name="rating" value="1" id="rating1"><label for="rating1">1</label>
                <input type="radio" name="rating" value="2" id="rating2"><label for="rating2">2</label>
                <input type="radio" name="rating" value="3" id="rating3"><label for="rating3">3</label>
                <input type="radio" name="rating" value="4" id="rating4"><label for="rating4">4</label>
                <input type="radio" name="rating" value="5" id="rating5"><label for="rating5">5</label>
            </label>
        </div>
    </div>
    <div class="row">
           <div class="large-6 large-offset-3 columns end">
           <label id="reviewLabel">*Your Review <span id="reviewSelect" class="required">is a manditory field and must be longer than 10 characters</span>:
           <textarea form="reviewForm" rows="12" id="review"></textarea>
           </label> 
          </div>
         </div>
    
       <div class="row">
         <div class="large-12 columns">
            <br>
            <a class="small round button" id="submitReview">Submit Review</a>
            <br>
         </div>
      </div>
   </form>
    
    <div id="myModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog" data-reveal data-options="close_on_background_click:false;close_on_esc:false;">
  <h2 id="modalTitle">Thanks!<br> </h2>
    <h3>Would you like to include some additional information about your dog in your review? <br> If not, press the X to continue</h3>
    <div class="row">
        <div class="large-4 large-offset-4 columns end">
           <label id="nameLabel">Your Dog's Name: <span id="nameSelect" class="required">Please Enter A Valid Name</span> 
                <input id="dogsName" type="text" placeholder="dog's name"/>
           </label>
        </div>
    </div>
    <div class="row">
        <div class="large-6 large-offset-3 columns end">
            <label>Breed:
            <select class="breed">
               <option value="false">Select A Breed</option>
               <% for (var i=0 ; i < review.breeds.length; i++) { %>
               <option value= <%=review.breeds[i].id %> > <%=review.breeds[i].breedName %> </option>
               <% } %>
            </select>
            </label>
        </div>
    </div>
     <div class="row">
         <div class="large-6 large-offset-3 columns end">
         <label id="bdayLabel"><span id="birthdaySelect" class="required">Please Enter A Valid Date for</span> Your Dogs Birthday:</label>
         <br>
         </div>
        </div>
        <div class="row">
         <div class="large-1 large-offset-3 columns bday">
                     <label for="month" class="right inline">Month:</label>
                    </div>
                <div class="large-2 columns bday">
                        <select id="month">
                            <option value="0"></option>
                            <option value="01">January</option>
                            <option value="02">February</option>
                            <option value="03">March</option>
                            <option value="04">April</option>
                            <option value="05">May</option>
                            <option value="06">June</option>
                            <option value="07">July</option>
                            <option value="08">August</option>
                            <option value="09">September</option>
                            <option value="10">October</option>
                            <option value="11">November</option>
                            <option value="12">December</option>
                        </select>
                    
        </div>
        <div class="large-1 columns bday">
                   <label for="day" class="right inline">Day: </label>
            </div>
            <div class="large-1 columns bday">
                        <input class="form" id="day" type="text"/> 
                        
        </div>
        <div class="large-1 columns bday">
            <label for="year" class="right inline">Year: </label>
            </div>
        <div class="large-1 columns end bday">
                <input class="form" id="year" type="text"/>  
            
        </div>
    </div>
      
    <div class="row">
        <div class="large-3 large-offset-3 columns">
            <br>
            <label id="damLabel"><span id="damSelect" class="required">Invalid </span>Dam's Name
                <input id="dam" type="text" placeholder="mother's name"/>
            </label>
        </div>
        <div class="large-3 columns end">
            <br>
            <label id="sireLabel"><span id="sireSelect" class="required">Invalid </span>Sire's Name 
                <input id="sire" type="text" placeholder="father's name"/>
            </label>
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            <br>
            <a class="small round button" id="submitDogInfo">Submit</a>
            <br>
        </div>
    </div>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>

