<section>
    <div class="row">
        <div class="large-12 columns breederHeader">
            <h2><span id="breederName">Your Review For: </span></h2>
            <h2><%=review.breeder.get('name') %></h2>
        </div>
    </div>
    <div class="row">
        <div class="large-2 large-offset-9 columns end breederHeader">
            <h5><span class="astric">*</span>required field</h5>
        </div>
    </div>
</section>

    <form id="reviewForm">
      <div class="row">
        <div class="large-12 columns">
            <label id="ratingLabel"><span class="astric">*</span>Your Rating <span id="ratingSelect" class="required">is a manditory field</span>:  &nbsp;
                <input type="radio" name="rating" value="0" id="zeroRating">
                <input type="radio" name="rating" value="1" id="rating1"><label for="rating1">1</label>
                <input type="radio" name="rating" value="2" id="rating2"><label for="rating2">2</label>
                <input type="radio" name="rating" value="3" id="rating3"><label for="rating3">3</label>
                <input type="radio" name="rating" value="4" id="rating4"><label for="rating4">4</label>
                <input type="radio" name="rating" value="5" id="rating5"><label for="rating5">5</label>
            </label>
        </div>
    </div>
    <div class="row">
           <div class="large-8 large-offset-2 columns end">
           <label id="reviewLabel"><span class="astric">*</span>Your Review <span id="reviewSelect" class="required">is a manditory field and must be longer than 10 characters</span>:
           <textarea form="reviewForm" rows="12" id="review"></textarea>
           </label> 
          </div>
         </div>
         <div class="row" id="captchaRow">
            <div class="large-12 columns">
                <h3 class="required" id="invalidCaptcha">*Captcha Cannot be Empty</h3>
                <div id="captcha"></div>
            </div>
        </div>
       <div class="row">
         <div class="large-12 columns">
            <br>
            <a class="small round button" id="submitReview">Submit Review</a>
            <br>
         </div>
      </div>
   </form>
    <div id="myModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog" data-reveal data-options="close_on_background_click:false;close_on_esc:false;">
  <h2 id="modalTitle">Thanks!<br> </h2>
    <h3>Would you like to include some information about your dog in your review?<br></h3>
    <div class="row">
        <div class="large-4 large-offset-2 columns">
           <label id="nameLabel">Your Dog's Name: <span id="nameSelect" class="required">Please Enter A Valid Name</span> 
                <input id="dogsName" type="text" placeholder="dog's name"/>
           </label>
        </div>
        <div class="large-4 columns end">
            <label>Breed:
            <select class="breed">
               <option value="0">Select A Breed</option>
               <% for (var i=0 ; i < review.breeds.length; i++) { %>
               <option value= <%=review.breeds[i].id %> > <%=review.breeds[i].breedName %> </option>
               <% } %>
            </select>
            </label>
        </div>
    </div>

        <div class="row">
            <div class="large-3 large-offset-1 columns">
            <label id="damLabel"><span id="damSelect" class="required">Invalid </span>Dam's Name
                <input id="dam" type="text" placeholder="mother's name"/>
            </label>
        </div>
        <div class="large-3 columns">
            <label id="sireLabel"><span id="sireSelect" class="required">Invalid </span>Sire's Name 
                <input id="sire" type="text" placeholder="father's name"/>
            </label>
        </div>

                <div class="large-4 columns end birthdayDiv">
                <label id="bdayLabel"><span id="birthdaySelect" class="required">Please Enter A Valid Date for</span> Your Dogs Birthday:</label>

                    <select id="month">
                        <option value="0">Month</option>
                        <option value="01">January</option>
                        <option value="02">February</option>
                        <option value="03">March</option>
                        <option value="04">April</option>
                        <option value="05">May</option>
                        <option value="06">June</option>
                        <option value="07">July</option>
                        <option value="08">August</option>
                        <option value="09">September</option>
                        <option value="10">October</option>
                        <option value="11">November</option>
                        <option value="12">December</option>
                    </select>
                    

                        <input class="form" placeholder="day" id="day" type="text"/> 
                        
                <input class="form" placeholder="year" id="year" type="text"/>  

        
    </div>
    <div class="row">
        <div class="large-12 columns">
            <h3>Attach up to 3 pictures of your dog</h3>
        </div>
    </div>
    <div class="row">
        <div class="large-8 large-offset-2 columns end">
            <label id="maxImage">Max Image Size = 5MB</label>
        </div>
    </div>
    <div class="row">
        <div class="large-8 large-offset-2 columns end">
            <div class="row collapse">
                <div class="small-3 columns">
                    <button class="button postfix file-upload">browse...<input type="file" accept="image/*" id="imageInput1" class="file-input fileName1"></button>
                </div>
                <div class="small-9 columns">
                    <input id="fileName1" type="text" placeholder="" disabled>
                </div>
            </div>
        </div>
  </div>
  <div class="row">
        <div class="large-8 large-offset-2 columns end">
            <div class="row collapse">
                <div class="small-3 columns">
                    <button class="button postfix file-upload">browse...<input type="file" accept="image/*" id="imageInput2" class="file-input fileName2"></button>
                </div>
                <div class="small-9 columns">
                    <input id="fileName2" type="text" placeholder="" disabled>
                </div>
            </div>
        </div>
  </div>
  <div class="row">
        <div class="large-8 large-offset-2 columns end">
            <div class="row collapse">
                <div class="small-3 columns">
                    <button class="button postfix file-upload">browse...<input type="file" accept="image/*" id="imageInput3" class="file-input fileName3"></button>
                </div>
                <div class="small-9 columns">
                    <input id="fileName3" type="text" placeholder="" disabled>
                </div>
            </div>
        </div>
  </div>
  <div class="row" id="captchaSecondRow">
            <div class="large-12 columns">
                <h3 class="required" id="invalidCaptcha">*Captcha Cannot be Empty</h3>
                <div id="secondCaptcha"></div>
            </div>
        </div>
    <div class="row submitRow">
        <div class="large-12 columns">
            <br>
            <a class="small round button" id="submitDogInfo">Submit</a>
            <br>
        </div>
    </div>
  <a class="close-reveal-modal" aria-label="Close">&nbsp; &#215;  </a>
</div>

