      <table>
      <caption>Breeder Information</caption>
  <tbody>
    <tr>
      <th>Name</th>
      <td><%=breeder.get('name') %></td>
    </tr>
    <tr>
      <th>Kennel</th>
      <td><%=breeder.get('kennel') %></td>
    </tr>
    <tr>
      <th>Address</th>
      <td><%=breeder.get('addresses') %></td>
    </tr>
  </tbody>
</table>